* {
    padding: 0%;
}

table {
    background-color: rgb(12, 63, 37);
    padding: 10px;
}

th, td, tr a, li {
    text-decoration: none;
    list-style: none;
}

 a:hover {
    text-decoration: underline;
    color: rgb(0, 255, 200);
}

/* #main-content {
    background: url(f.jpg) top center no-repeat;
    height: 820px;
    background-size: 100%;
} */
