#header{
background:rgb(12, 63, 37);
width:1570px;
height:70px;
}
#menu2{
background:green;
width:200px;
height:500px;
float:right;
}
#menu{
background:green;
width:200px;
height:500px;
float:left;
}
#content{
background:oldlace;
width:1328px;
height:500px;
}
#footer{
background:rgb(12, 63, 37);
width:1570px;
height:70px;
}
.text {
    font-family: Cambria;
    font-size: 65px;
    text-transform: uppercase;
    display: table;
    margin: 20px auto;
}
